In [45]:
import pandas as pd

In [46]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAm': lst})

Выведем исходный фрейм:

In [47]:
data.head(20)

    whoAm
0   robot
1   robot
2   human
3   robot
4   robot
5   human
6   human
7   human
8   robot
9   human
10  human
11  robot
12  human
13  robot
14  robot
15  human
16  human
17  robot
18  human
19  robot

Переводим фрейм в one hot вид:

In [48]:
df = data.copy(deep=True) #создаем новый фрейм и копируем в него исходный, что бы исходный фрейм остался без изменений
df.loc[data['whoAm'] == 'robot', 'robot'] = "1"
df.loc[data['whoAm'] != 'robot', 'robot'] = "0"
df.loc[data['whoAm'] == 'human', 'human'] = "1"
df.loc[data['whoAm'] != 'human', 'human'] = "0"
df[['human', 'robot']]

   human robot
0      0     1
1      0     1
2      1     0
3      0     1
4      0     1
5      1     0
6      1     0
7      1     0
8      0     1
9      1     0
10     1     0
11     0     1
12     1     0
13     0     1
14     0     1
15     1     0
16     1     0
17     0     1
18     1     0
19     0     1

Для сравнения выведем one hot вид используя get_dummies:

In [49]:
pd.get_dummies(data['whoAm'])

    human  robot
0       0      1
1       0      1
2       1      0
3       0      1
4       0      1
5       1      0
6       1      0
7       1      0
8       0      1
9       1      0
10      1      0
11      0      1
12      1      0
13      0      1
14      0      1
15      1      0
16      1      0
17      0      1
18      1      0
19      0      1